<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="logo"><%= title %></div>
        <div id="navigation">
          <a href="#">Home</a>
          <a href="#">Users</a>
          <a href="#">Logout</a>
        </div>
      </div>
      <div id="content">
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
