<div style="margin:0 auto; width: 500px; padding: 20px; background: #FFF;">
    <h2 style="margin-top: 0">Green Seed Exam - Login</h2>
    <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
        <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
            <label for="username">Username</label>
            <input type="text" placeholder="Username.." name="username" class="form-control" ng-model="vm.username" required />
            <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                <div ng-message="required">Username is required</div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
            <label for="password">Password</label>
            <input type="password" placeholder="Password.." name="password" class="form-control" ng-model="vm.password" required />
            <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                <div ng-message="required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <button ng-disabled="vm.loading" class="btn btn-success btn-block">Login</button>
            <a ng-disabled="vm.loading" href="#/register" class="btn btn-warning btn-block">Register</a>
        </div>
    </form>
</div>
